SECRET_KEY=cambia-esto-con-openssl-rand-hex-32
DEBUG=false
CAMERA_SOURCE=
RELAY_PORT=
QR_CAMERA_SOURCE=0
AUTH_MODE=ambos

# Base de datos (Obligatorio PostgreSQL)
# Por defecto se lee de config.yaml, pero puedes sobrescribirlo aqui:
# DB_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/fastalpr
